:root {
  --logo-color: #2196f3;
  --body-color: #212121;
  --tel-color: #757575;
  --footer-tel-color: rgba(255, 255, 255, 0.6);
  --footer-logo-color: #ffffff;
  --button-color: #f5f4fa;
  --logo-studio: #000000;
  --button-hero: #188ce8;
  --button-hero-shadow: rgba(0, 0, 0, 0.15);
  --hero-footer-bg: #2f303a;
  --header-border: #ececec;
  --project-item-border: #eeeeee;
}

body {
  color: var(--body-color);
  background-color: var(--footer-logo-color);
  font-family: "Roboto", ‘Raleway’ sans-serif;
  font-style: normal;
}

h1,
h2,
h3,
p,
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  display: block;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  width: 1200px;
}

/* Хедер */

.section-header {
  border: 1px solid var(--header-border);
}

.container.header {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--logo-studio);

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-family: ‘Raleway’, ‘Roboto’, sans-serif;
}

.logo-web {
  color: var(--logo-color);
}

.menu-nav {
  display: flex;
  flex-wrap: wrap;
  margin-left: 93px;
}

.menu-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--body-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  fill: Solid;
}

.menu-nav .current {
  color: var(--logo-color);
}

.menu-nav .item:not(:last-child) {
  margin-right: 50px;
}

.header-tel-email {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
}

.header-tel-email .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--tel-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.header-tel-email .item + .item {
  margin-left: 50px;
}

.header-tel-email .link:hover,
.header-tel-email .link:focus,
.menu-nav .link:hover,
.menu-nav .link:focus,
.footer-address-tel-email:hover,
.footer-address-tel-email:focus,
.footer-address:hover,
.footer-address:focus {
  color: var(--logo-color);
}

/*--Шапка--*/

.section.hero {
  background: var(--hero-footer-bg);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero-title {
  /* Эффективные решения для вашего бизнеса */
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--footer-logo-color);
}

.hero-button {
  font-family: "Roboto", ‘Raleway’ sans-serif;
  font-style: normal;
  background: var(--logo-color);
  color: var(--footer-logo-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;

  border-radius: 4px;
  display: inline-block;
  padding: 10px 32px;
  min-width: 136px;
  border: 0;

  fill: Solid;
  offset: 0px, 4px rgba(0, 0, 0, 0.15);
}

.hero-button:hover,
.hero-button:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px var(--button-hero-shadow);
  border-radius: 4px;
}

/*--Особенности--*/

.visually-hidden {
  /* Скрыли h2 на главной и в портфолио */
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.features.list {
  display: flex;
}

.features .item {
  width: 270px;
}

.features .item:not(:nth-child(4)) {
  margin-right: 30px;
}

.features .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.features .text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--tel-color);
}

/*--Чем мы занимаемся--*/

.section.doing {
  padding-bottom: 94px;
}

.doing.list {
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  outline: 2px blue;
}

.doing .item + .item {
  width: 370px;
  margin-left: 30px;
}

.section.doing h2,
.section.team h2 {
  /* Чем мы занимаемся */
  /* Наша команда*/
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
}

/*--Наша команда--*/

.section.team {
  background-color: var(--button-color);
}

.team.list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
}

.team .item + .item {
  width: 270px;
  margin-left: 30px;
}

.team .item {
  text-align: center;

  background: var(--footer-logo-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-box .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  margin-bottom: 10px;
}

.team-box {
  margin-bottom: 30px;
  margin-top: 30px;
}

.team-box .text {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--tel-color);
}

/*--Портфолио--*/

.filters {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  margin-right: 0;
}

.filters-button {
  display: inline-block;
  padding: 6px 22px;
  min-width: 29px;

  font-family: "Roboto", ‘Raleway’ sans-serif;
  font-style: normal;
  background: var(--button-color);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: 0;
}

.filters-button:hover,
.filters-button:focus {
  background: var(--logo-color);
  color: var(--footer-logo-color);
}

.filters-button.active {
  background: var(--logo-color);
  color: var(--footer-logo-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filters .item + .item {
  margin-left: 8px;
}

.project.list {
  display: flex;
  flex-wrap: wrap;
}

.project .item {
  width: 370px;
}

.border {
  border: 1px solid var(--project-item-border);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
}

.project .item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.project .item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.project-title {
  font-family: "Roboto", ‘Raleway’ sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.06em;
  line-height: 2;
  color: var(--body-color);

  margin-bottom: 4px;
}

.project-text {
  color: var(--tel-color);
  letter-spacing: 0.03em;
  line-height: 1.9;
}

/*--Подвал--*/

.section.footer {
  background: var(--hero-footer-bg);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .logo {
  display: block;
  margin-bottom: 20px;
}

.footer-logo-studio {
  color: var(--footer-logo-color);
}

.footer .item:not(:nth-child(3)) {
  margin-bottom: 9px;
}

.footer-address {
  color: var(--footer-logo-color);
  font-size: 14px;
  letter-spacing: 0.03em;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7;
}

.footer-address-tel-email {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.7;
  font-style: normal;
  font-weight: 400;
}
